.course-card {
    background-color: var(--color-surface);
    border-left: 4px solid var(--color-border);
    border-radius: 0.375rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
}

.course-card:hover {
    background-color: var(--color-border);
    border-color: var(--color-primary);
    transform: translateY(-2px);
}

.course-card-icon {
    color: var(--color-primary);
    margin-right: 1.5rem;
}

.course-card-content {
    flex-grow: 1;
}

.course-card-title {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--color-text);
}

.course-card-description {
    margin: 0.25rem 0 0 0;
    font-size: 0.875rem;
    color: var(--color-text-muted);
}
.course-list {
    max-height: 55vh; /* Or any height you prefer */
    overflow-y: auto; /* This makes the container scrollable */
    
    /* Add these lines to hide the scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

/* Add this rule for Chrome, Safari, and Opera */
.course-list::-webkit-scrollbar {
    display: none;
}